<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Showing Photograph</h3>
  </div>
  <div class="panel-body">

<%= image_tag @photograph.image.url %><br/><br/>


<p>
  <strong>Category:</strong>
  <%= @photograph.category %>
</p>


</div>
    <div class="panel-footer">
    <%= link_to 'Edit', edit_photograph_path(@photograph) %> |
    <%= link_to 'Destroy', photograph_path(@photograph), method: :delete, data: { confirm: 'Are you sure?' }  %> 
    

    </div>
</div>

